body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50 ;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4caf50;
}
#user-info img {
    border-radius: 50%;
  }
  
#repositories {
    margin-top: 20px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 40%;
  }
  
  .pagination-container .page-item {
    list-style: none;
    margin: 0 5px;
  }
  
  .pagination-container .page-link {
    padding: 8px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination-container .page-link:hover {
    background-color: #007bff;
    color: #fff;
  }
  
